@import './reset.scss';
@import './variable.scss';

input,
div,
p,
ul,
li,
section,
main,
header,
nav,
footer button {
    box-sizing: border-box;
}

button,
input[type='button'],
input[type='submit'] {
    border: none;
    outline: none;
    cursor: pointer;
}
button,
input {
    border: 1px solid $extra-light-silver;
}
input {
    padding: 4px 8px;
    border-radius: 2px;
}
p,
li,
ol,
pre,
blockquote {
    line-height: 1.5;
    margin: 12px 0;
}
pre,
blockquote,
code {
    background: $code-bg;
    padding:12px;
    border-radius: 2px;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
pre code{
    color:inherit;
}

body {
    background: $dark-white;
}

#root {
    height: 100vh;
    overflow: auto;
}

.main {
    width: 1240px;
    margin: 40px auto;
    display: flex;
    font-size: 14px;
    &-left {
        @extend .card;
        width: 760px;
        padding: 20px;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    &-right {
        box-sizing: content-box;
        // margin-left: 40px;
        height: 100%;
        width: 300px;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
