@import './reset.scss';

body{
    background: #e5e5e5;
}

.main{
    margin: 40px 20px;
    display: flex;
    background: #fff;
    font-size: 14px;
    &-left{
        width:60%;
    }
    &-right{
        margin-left:50px;
        flex:1;
        height: 100%;
        background: #eee;
    }
}

