$btn-main-color:#FF4949;
$white:#fff;
$dark-white:#F9FAFC;
$gray:#D3DCE6;
$light-gray:#E5E9F2;
$extra-light-gray:#EFF2F7;
$silver:#8492A6;
$light-silver:#99A9BF;
$extra-light-silver:#C0CCDA;
$black:#1F2D3D;
$light-black:#324057;
$extra-light-black:#475669;
$code-bg:#f6f6f6;
$link-color:#009a61;
:root{
    --color:#333;
}

.btn{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    position: relative;
}


.btn-default{
    border:1px solid $extra-light-silver;
    background: $white;
    color:$silver;
    border-radius: 4px;
    padding: 6px 12px;
    &:active{
        background: darken($white,10%)
    }
}


.btn-main{
    @extend .btn-default;
    border-color: $btn-main-color;
    background: $btn-main-color;
    color:$white;
    &:active{
        background: darken($btn-main-color,10%)
    }
}

.card{
    padding:20px;
    background: $white;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    transform:translate3d(0,0,0);
    color:var(--color);
}