@import '../../styles/variable.scss';
.container{
    display: flex;
    align-items: center;
    padding:20px 8px;
}
.input{
    height:40px;
    flex-grow: 1;
}
.button{
    @extend .btn-main;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
}